// colours

$teal-primary: #3eaeb2;
$teal-accessible: #00838a;
$light-teal: #c6dfdd;
$pink: #ce7ab3;
$pink-light: #efcebc;
$red: #ca4d2d;
$orange: #d9861c;
$black: #424650;
$grey-dark: #565a5e;
$grey-medium: #c7cfd6;
$grey-light: #eff2f5;
$modal-popup: #ffffff;
$button-hover: #ffffff;
$white: #ffffff;

// box shadows

$shadow-modal: 0px 4px 22px #0000001a;
$shadow-button: 0px 1px 4px #0000001a;
$shadow-default: 4px 12px 48px #0000001a;
$shadow-bottom-nav: 0px -2px 20px #0000001a;
$shadow-coloured: 0px 4px 22px $teal-primary;
